*{
   border: 1px black solid;


}

.player-wrapper{
  display: inline-flex;
}

.players{
    height: 25px;
    width: 50vw;

}

#board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
}

.pieces{

  width: 24%;
  border: 1px black solid;
  background-color: teal;
}
